// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// 나눔스퀘어 폰트
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$custom-theme-colors: (
  "nlight": #def7f3,
  "ngreen": #1dbfb3,
  "nlightgreen": #afece9,
  "nfuschia": #fb8bc4,
  "nyellow": #ffbb0c,
  "nblue": #40b2ff,
  "ntext": #336177,
  "ntext_guide": #5a96b3,
  "ndark": #1f4659,
  "result_good": #1dbfb3,
  "result_normal": #40b2ff,
  "result_worry": #be55f2,
  "result_serious": #f24974,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// variable overrides
$input-placeholder-color: #ccc;

* {
  color: #336177;
  font-family: NanumSquare, Arial, Roboto, Helvetica, sans-serif;
}

p {
  color: #336177;
}

a {
  color: #336177 !important;
  text-decoration: none !important;
}

input[type="password"] {
  font-family: "Arial";
}

.ntext {
  color: #336177;
}

.ntext_guide {
  font-size: 0.85rem;
  color: #5a96b3;
}
.ntext_guide_erro {
  font-size: 0.85rem;
  color: #f24974;
}

.smile-bg {
  background-image: url(../assets/images/smile_bg.png);
  background-position: top;
  width: 720px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mind-bg {
  background-image: url(../assets/images/mind_bg01.png);
  background-position: top;
  width: 720px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mind-bg_title {
  background-image: url(../assets/images/mind_bg_title.png);
  background-position: top;
  width: 720px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.nsir-info {
  font-size: 0.75rem;
}

.point_img {
  width: 240px;
  height: 240px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;

  vertical-align: middle;
  color: white;
  font-size: 3rem;
}
.btn_img {
  width: 180px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  color: white;
}

.btn_signup {
  width: 234px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  color: white;
}

.btn_diagnosis {
  margin: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border-radius: 30px;
  border: solid;
  font-size: 0.8rem;
  font-weight: bold;
}

.btn_text {
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: none;
}

.btn_more {
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
  border-radius: 30px;
  border: solid;
}

.btn_icon {
  background-color: transparent;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

.divider_16 {
  height: 16px;
}

.divider_32 {
  height: 32px;
}

.divider_64 {
  height: 64px;
}

.subtitle_h {
  height: 3rem;
}

.empty_box {
  height: 200px;
  width: auto;

  background-color: lightgray;
}

// .checkbox_wrap {
//   border: 1px solid black;
//   height: 30px;
//   width: 240px;
//   margin: auto;

//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

input[type="checkbox"] {
  appearance: none;
  // -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin: 0;
  margin-right: 8px;
  margin-top: 3px;
  display: flex;

  border: solid 1px;
  cursor: pointer;
}
input[type="checkbox"]:after {
  font-family: "Font Awesone 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 18px;
  color: white;
  display: none;
}
input[type="checkbox"]:hover {
  background-color: #336177;
  // border: none;
}
input[type="checkbox"]:checked {
  background-color: #336177;
}
label {
  cursor: pointer;
}
#btn_chat {
  background-image: url(../assets/images/btn_chat.png);
}

#btn_diagnosis {
  background-image: url(../assets/images/btn_diagnosis.png);
}

#btn_write {
  background-image: url(../assets/images/btn_write.png);
}

#btn_email {
  background-image: url(../assets/images/btn_email.svg);
}
#btn_sendemail {
  background-image: url(../assets/images/btn_sendemail.svg);
}

#symptom_list {
  height: 330px;
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
