// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
  "nlight": #def7f3,
  "ngreen": #1dbfb3,
  "nfuschia": #fb8bc4,
  "nyellow": #ffbb0c,
  "nblue": #40b2ff,
  "ntext": #336177,
  "ntext_guide": #a1cbdf,
  "ndark": #1f4659,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

.n_text {
  color: #336177;
}

p {
  color: #336177;
}

a {
  text-decoration: none !important;
}

.smile-bg {
  background-image: url(../assets/images/smile_bg.png);
  background-position: top;
  width: 720px;
  height: 80px;
  // resize: both;
  background-size: cover;
  background-repeat: no-repeat;
}

.nsir-info {
  font-size: 0.75rem;
}

.n_btn {
  width: 180px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  color: white;
}

.divide {
  height: 16px;
}

.subtitle_h {
  height: 3rem;
}

#text_account {
  color: #1f4659;
}

#btn_chat {
  background-image: url(../assets/images/btn_chat.png);
}

#btn_diagnosis {
  background-image: url(../assets/images/btn_diagnosis.png);
}

#btn_write {
  background-image: url(../assets/images/btn_write.png);
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
